*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
.DS_Store
.tmp
build
global.config.js
bower_components
html5/build
lib-cov
local.config.js
logs
npm-debug.log
pids
public/bundle.js
results
server/datasources.local.js
db.json
node_modules
app/client.bundle.js
